.container {
  margin: 15px 0px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.input {
  height: 34px;
  margin-left: 5px;
  &:active,
  &:focus {
    outline: none;
  }
}
