$color-white: #fff;
$color-yellow: #ffd700;
$color-green: #00b300;
$color-lightblue: #7676ff;
$color-darkblue: #000076;

$font-text: 'Arial', sans-serif;

$radius: 5px;
$base-size: 12px;
$transition: all 0.5s;